<main>
  <div class="container">
    <header class="header">
      <div class="logo">
        <img src="assets/logo_ciren.png" alt="Logo CIREN" />
      </div>
      <button class="logout-button">Cerrar Sesión</button>
    </header>
    <main class="main-content">
      <div class="form-container">
        <h1>Formulario</h1>
        <form action="#" method="post">
          <div class="form-group">
            <label for="pregunta1">1. Pregunta</label>
            <input
              type="text"
              id="pregunta1"
              name="pregunta1"
              placeholder="Respuesta"
            />
          </div>
          <div class="form-group">
            <label for="pregunta2">2. Pregunta</label>
            <input
              type="text"
              id="pregunta2"
              name="pregunta2"
              placeholder="Respuesta"
            />
          </div>
          <div class="form-actions">
            <button type="button" class="save-button" id="guardarBtn">
              Guardar
            </button>
            <button type="button" class="cancel-button">Cancelar</button>
          </div>
        </form>
      </div>
    </main>
  </div>

  <!-- Modal -->
  <div id="modalOpciones" class="modal" #modalOpciones>
    <div class="modal-content">
      <span class="close-button" id="closeModal">&times;</span>
      <h1>Guardar</h1>
      <button class="modal-button">Imprimir</button>
      <button class="modal-button" id="openEmailModal">
        Enviar por Correo
      </button>
      <button class="modal-button">Descargar .docx</button>
      <button class="modal-button">Volver a la carpeta</button>
    </div>
  </div>

  <!-- Modal 2-->
  <div id="modalCorreo" class="modal" #modalCorreo>
    <div class="modal-content">
      <span class="back-button" id="backToOptions">&#8592;</span>
      <span class="close-button" id="closeEmailModal">&times;</span>
      <h2>Enviar formulario por correo</h2>
      <div class="form-mail">
        <input
          type="text"
          id="emailInput"
          placeholder="Ingrese Correo Electronico"
        />
      </div>
      <button class="modal-button" id="enviarCorreo">Enviar</button>
    </div>
  </div>
</main>