<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folders"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="create-folder-page">
  <div class="folder-container">
    <h1 class="title">Creación de Carpeta</h1>
    <div class="input-item">
      <ion-input placeholder="Nombre de Carpeta"></ion-input>
    </div>
    <ion-button expand="block" class="create-button">
      Crear
    </ion-button>
  </div>
</ion-content>
