<ion-header>
  <ion-toolbar class="content-background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folders"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <div class="container-form-cf">
    <ion-text class="app-title-cf">CREACIÓN DE CARPETA</ion-text>
    <form class="card-form">
      <div class="input-form">
        <ion-input class="input-font" placeholder="Nombre de Carpeta" [(ngModel)]="folderName"></ion-input>
      </div>
      <ion-button expand="block" class="design-button" (click)="crearCarpeta()">Crear</ion-button>
    </form>
  </div>
</ion-content>