<app-header></app-header>

<ion-content class="content-background">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="container-folder">
    <ion-text class="app-title">IMÁGENES</ion-text>

    <div *ngIf="contenidoCarpeta.length === 0" class="no-content-message">
      <ion-text>NO SE ENCONTRARON IMÁGENES</ion-text>
    </div>

    <div class="images-container">
      <div class="image-card" *ngFor="let file of contenidoCarpeta" (click)="openModal(file)">
        <img [src]="getImagePath(file)" alt="Imagen en carpeta" class="image-icon" />
        <p>{{ file }}</p>
      </div>
    </div>
  </div>
</ion-content>

<!-- Modal para visualizar la imagen -->
<ion-modal *ngFor="let file of contenidoCarpeta" [isOpen]="selectedFile !== null" (didDismiss)="selectedFile = null">
  <ng-template>

      <ion-header>
        <ion-toolbar class="content-background">
          <ion-title>{{ file }}</ion-title>
          <ion-buttons slot="end">
            <ion-button class="logout-button"  (click)="selectedFile = null">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <div class="image-modal-container">
          <img [src]="selectedFile" class="img-fluid" alt="Imagen" *ngIf="selectedFile" />
        </div>
      </ion-content>
      
  </ng-template>
</ion-modal>

<ion-footer>
  <div class="footer-button">
    <ion-button class="scan-button" (click)="openCamera()">
      <img src="assets/icon/icon-cam.png" alt="Custom Icon" class="icon-scan" />
    </ion-button>
  </div>
</ion-footer>
