  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-grow: 1;
  }
  
  .image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;
    color: white;
  }
  
  .image-icon {
    width: 80px;  
    height: 80px;
  }
  
  .scan-button {
    --background: #ffffff;
    color: black; 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    z-index: 101; 
  }
  
  .icon-scan {
    width: 24px;
    height: 24px;
  }

  // Modal

  .image-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-fluid {
    max-width: 100%;
  }
  .modal-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  
  iframe {
    border: none;
  }
  
  img.img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  