<ion-content class="content-background">
  <div class="container-form">
    <ion-text class="app-title">REGISTRO</ion-text>

    <form class="card-form" [formGroup]="newUserForm" (ngSubmit)="createUser()">
      <!-- Campo de Nombre de Usuario -->
      <div class="title-input">
        <ion-text>Nombre de Usuario</ion-text>
      </div>
      <div class="input-form">
        <ion-input class="input-font" type="text" id="username" name="username" formControlName="username"
          (input)="normalizeUsername($event)" minlength="5" maxlength="10" required [ngClass]="{
      'is-invalid': newUserForm.get('username')?.invalid && newUserForm.get('username')?.touched
    }">
        </ion-input>
      </div>
      <div class="text-danger">
        <ion-text color="danger"
          *ngIf="newUserForm.get('username')?.hasError('required') && newUserForm.get('username')?.touched">
          El nombre de usuario es requerido
        </ion-text>
        <ion-text color="danger"
          *ngIf="newUserForm.get('username')?.hasError('minlength') && newUserForm.get('username')?.touched">
          El nombre de usuario debe tener al menos 5 caracteres
        </ion-text>
        <ion-text color="danger"
          *ngIf="newUserForm.get('username')?.hasError('maxlength') && newUserForm.get('username')?.touched">
          El nombre de usuario no puede exceder 10 caracteres
        </ion-text>
      </div>

      <!-- Campo de Contraseña -->
      <div class="title-input">
        <ion-text>Contraseña</ion-text>
      </div>
      <div class="input-form">
        <ion-input class="input-font" [type]="isPasswordVisible ? 'text' : 'password'" id="password" name="password"
          formControlName="password" minlength="5" maxlength="10" required [ngClass]="{
      'is-invalid': newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched
    }">
        </ion-input>
        <ion-icon [name]="isPasswordVisible ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility()"></ion-icon>
      </div>
      <div class="text-danger">
        <ion-text color="danger"
          *ngIf="newUserForm.get('password')?.hasError('required') && newUserForm.get('password')?.touched">
          La contraseña es requerida
        </ion-text>
        <ion-text color="danger"
          *ngIf="newUserForm.get('password')?.hasError('minlength') && newUserForm.get('password')?.touched">
          La contraseña debe tener al menos 5 caracteres
        </ion-text>
        <ion-text color="danger"
          *ngIf="newUserForm.get('password')?.hasError('maxlength') && newUserForm.get('password')?.touched">
          La contraseña no puede exceder 10 caracteres
        </ion-text>
      </div>

      <!-- Campo de Confirmar Contraseña -->
      <div class="title-input">
        <ion-text>Confirmar Contraseña</ion-text>
      </div>
      <div class="input-form">
        <ion-input class="input-font" [type]="isConfirmPasswordVisible ? 'text' : 'password'" id="confirmPassword"
          name="confirmPassword" formControlName="confirmPassword" minlength="5" maxlength="10" required [ngClass]="{
      'is-invalid': newUserForm.get('confirmPassword')?.invalid && newUserForm.get('confirmPassword')?.touched
    }">
        </ion-input>
        <ion-icon [name]="isConfirmPasswordVisible ? 'eye-off' : 'eye'"
          (click)="toggleConfirmPasswordVisibility()"></ion-icon>
      </div>
      <div class="text-danger">
        <ion-text color="danger"
          *ngIf="newUserForm.get('confirmPassword')?.hasError('required') && newUserForm.get('confirmPassword')?.touched">
          Confirmar contraseña es requerido
        </ion-text>
        <ion-text color="danger"
          *ngIf="newUserForm.get('confirmPassword')?.hasError('minlength') && newUserForm.get('confirmPassword')?.touched">
          Confirmar contraseña debe tener al menos 5 caracteres
        </ion-text>
        <ion-text color="danger"
          *ngIf="newUserForm.get('confirmPassword')?.hasError('maxlength') && newUserForm.get('confirmPassword')?.touched">
          Confirmar contraseña no puede exceder 10 caracteres
        </ion-text>
      </div>

      <div>
        <p class="error-text"></p>
      </div>

      <!-- Botón de registro deshabilitado si el formulario no es válido -->
      <ion-button class="design-button" expand="block" type="submit"
        [disabled]="newUserForm.invalid">Registrarse</ion-button>
      <ion-button class="design-button" expand="block" color="medium" (click)="clearInputs()">Limpiar</ion-button>
      <div class="forgetpass">
        <a routerLink="/login">¿Ya estás registrado? Inicia sesión aquí</a>
      </div>
    </form>

    <div class="logo-container">
      <ion-img src="assets/ciren-logo.png" alt="Ciren Logo" class="logo"></ion-img>
      <ion-img src="assets/minagri_logo.png" alt="Minagri Logo" class="logo"></ion-img>
    </div>
    <div class="copyright">
      <p>&copy; 2024 CIREN - Centro de Información de Recursos Naturales</p>
    </div>
  </div>
</ion-content>