.centered-box {
    width: 80%; /* Ancho limitado */
    max-width: 800px;
    max-height: 600px; /* Altura máxima para evitar ocupar toda la pantalla */
    background: rgba(255, 255, 255, 0.9); /* Blanco con opacidad */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evitar que contenido exceda el recuadro */
    display: flex;
    flex-direction: column;
    margin: 30px auto 0; /* Centrado horizontal y separación del header */
  }
  
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el header y el contenido */
  }
  
  h2 {
    font-family: "Staatliches", sans-serif;
    font-size: 24px;
    margin: 0;
  }
  
  .create-folder-button {
    background-color: #00a676;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-folder-button:hover {
    background-color: #00865b;
  }
  
  .folder-scroll {
    overflow-y: auto; /* Scroll vertical */
    flex-grow: 1; /* Permitir que este contenedor crezca */
    padding-right: 10px;
    margin-top: 20px;
  }
  
  .container-folder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .folder-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden; /* Evitar desbordamiento del contenido */
  }
  
  .folder-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .folder-link {
    text-decoration: none;
    color: #333;
    display: block; /* Para asegurar que el texto ocupe todo el ancho */
  }
  
  .folder-icon {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .folder-name {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que sobrepasa el contenedor */
    text-overflow: ellipsis; /* Muestra '...' si el texto es demasiado largo */
    width: 100%; /* Asegura que ocupe todo el ancho disponible dentro de la carpeta */
    text-align: center; /* Centra el texto */
  }
  
  hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .btn-danger {
    background-color: #ff4b4b;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
  }
  
  .btn-danger:hover {
    background-color: #cc0000;
  }
  
  .no-folders-message {
    font-size: 50px;
    color: #888;
    text-align: center;
    margin-top: 20px;
  }
  