.folder-content-background {
    --background: #71B25F; /* Fondo verde */
    display: flex;
    flex-direction: column;
    height: 100%; /* Asegura que el contenido ocupe todo el espacio */
  }

  .header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  

  .header-button {
    --background: #333333; /* Botones de la cabecera */
    color: white;
    border-radius: 20px;
    padding: 0 20px;
  }
  
  
  .folder-content-title {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
  }
  
  
  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-grow: 1;
  }
  
  .image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;
    color: white;
  }
  
  .image-icon {
    width: 80px;  /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 80px;
  }
 
  .footer-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #333333; /* Color oscuro del footer */
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente */
    z-index: 100; /* Asegura que el botón esté en la capa superior */
  }
  
  .scan-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho del footer */
  }
  
  .scan-button {
    --background: #FDC54E; /* Color amarillo del botón */
    color: black; /* Color del ícono */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Altura del botón, igual que el ancho para hacer un círculo */
    border-radius: 50%; /* Hace el botón completamente circular */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; /* Elimina cualquier borde adicional */
    outline: none; /* Elimina cualquier borde de enfoque */
    z-index: 101; /* Asegura que el botón esté en la capa superior */
  }
  