<ion-content class="login-background">
  <div class="login-container">
    <ion-img src="assets/img/logo_ciren.png" alt="CIREN Logo"></ion-img>
    <ion-text color="primary">
      <h2>Iniciar Sesión</h2>
    </ion-text>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <ion-item class="">
        <ion-label >Nombre de Usuario</ion-label>
        <ion-input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
          #usernameInput="ngModel"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="usernameInput.invalid && usernameInput.touched">
        <p>El nombre de usuario es requerido.</p>
      </ion-text>
      <ion-item class="">
        <ion-label >Contraseña</ion-label>
        <ion-input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          #passwordInput="ngModel"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="passwordInput.invalid && passwordInput.touched">
        <p>La contraseña es requerida.</p>
      </ion-text>
      <ion-button expand="block" type="submit" class="login-btn" [disabled]="loginForm.invalid">Entrar</ion-button>
      <ion-text>
        <a href="#" class="">¿Olvidaste tu contraseña?</a>
      </ion-text>
    </form>
    <div class="footer">
      <p>&copy; 2024 CIREN - Centro de Información de Recursos Naturales</p>
    </div>
  </div>
</ion-content>
