<ion-content class="login-background">
  <div class="login-container">
    <h1 class="app-title">HORTISCAN</h1>
    <ion-card class="login-card">
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Ingrese Usuario"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input type="password" placeholder="Ingrese Contraseña"></ion-input>
      </ion-item>
      <ion-button expand="block" class="login-button" (click)="navigateToFolders()">Ingresar</ion-button>
    </ion-card>
    <div class="logo-container">
      <img src="assets/ciren_logo.png" alt="Ciren Logo" class="logo"/>
      <img src="assets/minagri_logo.png" alt="Minagri Logo" class="logo"/>
    </div>
  </div>
</ion-content>
