@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.login-background {
    --background: #000000; /* Color de fondo verde similar al original */
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  .app-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Staatliches", sans-serif;
  }

  .staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .login-card {
    width: 100%;
    max-width: 300px;
    background: #E0E0E0; /* Fondo gris claro */
    border-radius: 10px;
    padding: 15px;
  }
  
  .input-item {
    background-color: #FFFFFF; /* Fondo oscuro para los inputs */
    border-color: #000000;
    border: solid 1px;
    color: rgb(0, 0, 0); /* Texto en blanco */
    border-radius: 5px;
    margin-bottom: 10px;
    --background: transparent;
  }

  .label-inputlogin {
    color: #646464;
    font-size: 15px;
  }
  
  .login-button {
    --background: #DAFFDA; /* Color del botón */
    color: rgb(8, 7, 7);
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .logo-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .logo {
    height: 60px;  /* Ajusta este valor al tamaño adecuado según el diseño original */
    width: auto;  /* Mantiene la proporción de la imagen */
  }

  .forgetpass{
    text-align: center;
    font-size: 15px;
  }
  
  
  