<ion-content class="content-background">
  <div class="container-form">
    <ion-text class="app-title">HORTISCAN</ion-text>

    <form class="card-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <div class="title-input">
        <ion-text>Ingreso Usuario</ion-text>
      </div>
      <div class="input-form">
        <ion-input 
        class="input-font" 
        placeholder="Nombre de Usuario" 
        type="text" 
        id="username" 
        name="username"
        [(ngModel)]="username" 
        required 
        minlength="5" 
        maxlength="10"
        #usernameInput="ngModel" 
        (input)="normalizeUsername($event)">
      </ion-input>
      
      </div>
      <div class="text-danger">
        <ion-text color="danger" *ngIf="usernameInput.invalid && usernameInput.touched">
          <span *ngIf="usernameInput.errors?.['required']">El nombre de usuario es requerido.</span>
          <span *ngIf="usernameInput.errors?.['minlength']">Debe tener al menos 5 caracteres.</span>
          <span *ngIf="usernameInput.errors?.['maxlength']">Debe tener como máximo 10 caracteres.</span>
        </ion-text>
        
      </div>
      <div class="title-input">
        <ion-text>Ingrese Contraseña</ion-text>
      </div>
      <div class="input-form">
        <ion-input 
          placeholder="Contraseña" 
          [type]="isPasswordVisible ? 'text' : 'password'" 
          id="password" 
          name="password" 
          [(ngModel)]="password" 
          required 
          minlength="5" 
          maxlength="10"
          #passwordInput="ngModel"
          (input)="validatePasswordInput($event)" 
          (paste)="preventInvalidPaste($event)">
        </ion-input>
        <ion-icon 
          [name]="isPasswordVisible ? 'eye-off' : 'eye'" 
          slot="end" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </div>
      <div class="text-danger">
        <ion-text color="danger" *ngIf="passwordInput.invalid && passwordInput.touched">
          <span *ngIf="passwordInput.errors?.['required']">La contraseña es requerida.</span>
          <span *ngIf="passwordInput.errors?.['minlength']">Debe tener al menos 5 caracteres.</span>
          <span *ngIf="passwordInput.errors?.['maxlength']">Debe tener como máximo 10 caracteres.</span>
        </ion-text>
      </div>
      <ion-button expand="block" type="submit" class="design-button" [disabled]="loginForm.invalid">Entrar</ion-button>

      <ion-text>
        <div class="forgetpass">
          <a routerLink="/register">Registrarse</a>
        </div>
      </ion-text>
    </form>

    <div class="logo-container">
      <ion-img src="assets/ciren-logo.png" alt="Ciren Logo" class="logo"></ion-img>
      <ion-img src="assets/minagri_logo.png" alt="Minagri Logo" class="logo"></ion-img>
    </div>
    <div class="copyright">
      <p>&copy; 2024 CIREN - Centro de Información de Recursos Naturales</p>
    </div>
  </div>
</ion-content>
