<body>
  <app-header></app-header>
  <main class="cont-folder">
    <div class="container-folder">
      <div class="folders">
          <a class="folder-link">
            <div class="folders">
              <div class="folder">
                <img class="folder-icon" src="scan.png" alt="Carpeta 1" />
                <p >Comuna 1</p>
              </div>
            </div>
          </a>
      </div>
      <div class="folders">
          <a class="folder-link">
            <div class="folders">
              <div class="folder">
                <img class="folder-icon" src="scan.png" alt="Carpeta 1" />
                <p >Comuna 1</p>
              </div>
            </div>
          </a>
      </div>
      <div class="folders">
          <a class="folder-link">
            <div class="folders">
              <div class="folder">
                <img class="folder-icon" src="scan.png" alt="Carpeta 1" />
                <p >Comuna 1</p>
              </div>
            </div>
          </a>
      </div>
    </div>
  </main>
</body>