<main>
  <div class="container">
    <header class="header">
      <div class="logo">
        <img src="logo_ciren.png" alt="Logo CIREN" />
      </div>
      <button class="logout-button">Cerrar Sesión</button>
    </header>
    <h1>Comuna</h1>
    <main class="main-content">
      <a
        href="/HortisDev/Interfaz CIREN/Formulario/Formulario.html"
        class="folder-link"
      >
        <div class="folders">
          <div class="folder">
            <img src="scan.png" alt="Carpeta 1" />
            <p>Comuna 1</p>
          </div>
        </div>
      </a>
    </main>
  </div>
</main>
