<app-header></app-header>
<main>
  <div class="container-folder">
    <h2>IMAGENES</h2>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true" class="container-folder scrollspy-example bg-body-tertiary p-3 rounded-2"
      tabindex="0">
      <div class="folders">
        <a class="folder-link" *ngFor="let file of contenidoCarpeta">
          <div class="folder">
            <img class="folder-icon" [src]="getImagePath(file)" alt="{{ file }}" (click)="openModal(file)"
              data-bs-toggle="modal" data-bs-target="#imageModal" />
            <p>{{ file }}</p>
            <button (click)="deleteImagen(file)" class="btn btn-danger">Eliminar</button>
          </div>
        </a>
      </div>
    </div>
  </div>



  <!-- Modal para visualizar la imagen -->
  <div class="modal fade" *ngFor="let file of contenidoCarpeta" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">{{ file }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img [src]="selectedFile" class="img-fluid" alt="Imagen" *ngIf="selectedFile" />
        </div>
      </div>
    </div>
  </div>
</main>