<div class="login-page">
  <app-carousel></app-carousel> <!-- Componente del carrusel -->
  <div class="login-box">
    <h1 class="title">HORTISCAN</h1>

    <form [formGroup]="newUserForm" (ngSubmit)="createUser()">
      <div class="login-form">
        <h2>Registro</h2>

        <!-- Campo de Nombre de Usuario -->
        <div>
          <label for="username">Nombre de Usuario</label>
          <input
            type="text"
            id="username"
            name="username"
            formControlName="username"
            (input)="normalizeUsername($event)"
            required
            minlength="7" 
            maxlength="32"
            [ngClass]="{
              'is-invalid': newUserForm.get('username')?.invalid && newUserForm.get('username')?.touched
            }"
          />
          <div class="text-danger">
            <span color="danger"
              *ngIf="newUserForm.get('username')?.hasError('required') && newUserForm.get('username')?.touched">
              El nombre de usuario es requerido
            </span>
            <span color="danger"
              *ngIf="newUserForm.get('username')?.hasError('minlength') && newUserForm.get('username')?.touched">
              El nombre de usuario debe tener al menos 7 caracteres
            </span>
            <span color="danger"
              *ngIf="newUserForm.get('username')?.hasError('maxlength') && newUserForm.get('username')?.touched">
              El nombre de usuario no puede exceder 32 caracteres
            </span>
          </div>
        </div>

        <!-- Campo de Contraseña -->
        <div class="password-container">
          <label for="password">Contraseña</label>
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            id="password"
            name="password"
            formControlName="password"
            (keydown)="validatePassword($event)"
            (paste)="preventInvalidPaste($event)"
            required
            minlength="7" 
            maxlength="32"
            [ngClass]="{
              'is-invalid': newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched
            }"
          />
          <!-- Ícono del ojo dentro del input -->
          <i class="fa" 
             [class.fa-eye]="!isPasswordVisible" 
             [class.fa-eye-slash]="isPasswordVisible" 
             (click)="togglePasswordVisibility()"></i>
        </div>
        <div class="text-danger">
          <span color="danger"
            *ngIf="newUserForm.get('password')?.hasError('required') && newUserForm.get('password')?.touched">
            La contraseña es requerida
          </span>
          <span color="danger"
            *ngIf="newUserForm.get('password')?.hasError('minlength') && newUserForm.get('password')?.touched">
            La contraseña debe tener al menos 7 caracteres
          </span>
          <span color="danger"
            *ngIf="newUserForm.get('password')?.hasError('maxlength') && newUserForm.get('password')?.touched">
            La contraseña no puede exceder 32 caracteres
          </span>
        </div>

        <!-- Campo de Confirmar Contraseña -->
        <div class="password-container">
          <label for="confirmPassword">Confirmar Contraseña</label>
          <input
            [type]="isConfirmPasswordVisible ? 'text' : 'password'"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            (keydown)="validatePassword($event)"
            (paste)="preventInvalidPaste($event)"
            required
            minlength="7" 
            maxlength="32"
            [ngClass]="{
              'is-invalid': newUserForm.hasError('passwordsMismatch') && newUserForm.get('confirmPassword')?.touched
            }"
          />
          <!-- Ícono del ojo dentro del input -->
          <i class="fa" 
             [class.fa-eye]="!isConfirmPasswordVisible" 
             [class.fa-eye-slash]="isConfirmPasswordVisible" 
             (click)="toggleConfirmPasswordVisibility()"></i>
        </div>
        <div class="text-danger">
          <span color="danger"
            *ngIf="newUserForm.get('confirmPassword')?.hasError('required') && newUserForm.get('confirmPassword')?.touched">
            Confirmar contraseña es requerido
          </span>
          <span color="danger"
            *ngIf="newUserForm.get('confirmPassword')?.hasError('minlength') && newUserForm.get('confirmPassword')?.touched">
            Confirmar contraseña debe tener al menos 7 caracteres
          </span>
          <span color="danger"
            *ngIf="newUserForm.get('confirmPassword')?.hasError('maxlength') && newUserForm.get('confirmPassword')?.touched">
            Confirmar contraseña no puede exceder 32 caracteres
          </span>
        </div>
        <div class="text-danger" *ngIf="newUserForm.hasError('passwordsMismatch') && newUserForm.get('confirmPassword')?.touched">
          <strong>Las contraseñas no coinciden</strong>
        </div>
        <div class="text-danger" *ngIf="userExist">
          <strong>Usuario y/o contraseña inválida</strong>
        </div>

        <!-- Botones -->
        <button type="submit" [disabled]="newUserForm.invalid">Registrarse</button>
        <button type="button" (click)="clearInputs()">Limpiar</button>
        <a routerLink="/login">¿Ya estás registrado? Inicia sesión aquí</a>
      </div>
    </form>

    <div class="logo">
      <img src="assets/ciren-logo.png" alt="CIREN Logo" />
    </div>
    <p class="footer-text">&copy; 2024 CIREN - Centro de Información de Recursos Naturales</p>
  </div>
</div>
