<div class="login-page">
  <app-carousel></app-carousel> <!-- Componente del carrusel -->
  <div class="login-box">
    <h1 class="title">HORTISCAN</h1>
    
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <div class="login-form">
        <h2>Login</h2>

        <!-- Input de Usuario -->
        <input 
          type="text" 
          placeholder="Usuario" 
          id="username" 
          name="username" 
          [(ngModel)]="username" 
          required
          #usernameInput="ngModel"
          (input)="normalizeUsername($event)" />

        <!-- Mensaje de error de validación -->
        <div class="text-danger" *ngIf="usernameInput.invalid && usernameInput.touched">
          El nombre de usuario es requerido.
        </div>

        <!-- Input de Contraseña -->
        <div class="password-container">
          <input 
            [type]="isPasswordVisible ? 'text' : 'password'" 
            placeholder="Contraseña" 
            id="password" 
            name="password" 
            [(ngModel)]="password" 
            required
            #passwordInput="ngModel"
            (keydown)="validatePassword($event)"
            (paste)="preventInvalidPaste($event)" />

          <!-- Ícono del ojo dentro del input -->
          <i class="fa" 
             [class.fa-eye]="!isPasswordVisible" 
             [class.fa-eye-slash]="isPasswordVisible" 
             (click)="togglePasswordVisibility()"></i>
        </div>

        <!-- Mensaje de error de validación -->
        <div class="text-danger" *ngIf="passwordInput.invalid && passwordInput.touched">
          La contraseña es requerida.
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
        <a routerLink="/registrarse">Registrarse</a>

        <div class="logo">
          <img src="../../../../assets/logo_ciren.png" alt="Logo de la empresa" />
        </div>

        <p class="footer-text">© 2024 CIREN - Centro de Información de Recursos Naturales</p>
      </div>
    </form>
  </div>
</div>
