// html {
//     box-sizing: border-box;
//     font-size: 62.5%; /* 1 rem = 10px */    
// }

// *, *:before, *:after {
//     box-sizing: inherit;
// }
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #131212;
    /* Color de fondo consistente */
    font-family: "Staatliches", sans-serif;
}


.logo-container {
    display: flex;
    justify-content: space-evenly;

}

.logo {
    height: 70px;
    width: auto;
}

.logo-min {
    height: 70px;
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
}


// Body
.content-background,
.logout-button {
    --background: #131212;
    font-family: "Staatliches", sans-serif;

    position: relative;
    z-index: 1;
    /* El contenido está por encima de las hojas */



}

.logout-button {
    font-size: 18px;
}

// Titulo de la pagina
.app-title {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Login - Register  */
// Body form auth
.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 70px;
}


.card-form {
    width: 100%;
    max-width: 400px;
    background: #DAFFDA;
    border-radius: 10px;
    padding: 40px;
}

// Titulo del input
.title-input {
    color: #646464;
    margin-bottom: 5px;
}

// Entrada de texto de Formulario
.input-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

// links
.forgetpass {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding-top: 12px;
}



// Texto de advertencia en Formulario
.text-danger {
    padding-bottom: 5px;
}

// Diseño de Boton en Formulario
.design-button {
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #ccc;
    color: rgb(8, 7, 7);
    font-weight: normal;
    font-size: 1.5rem;
    transition: letter-spacing 0.3s ease;

    &:hover {
        letter-spacing: 5px;
    }
}

// Footer Formulario
.copyright {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}

.logo-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
}

.logo {
    height: 60px;
    width: auto;
}

/* Folder-views*/

// No presenta contenido
.no-content-message {
    color: #ffffff5d;
    padding-top: 3em;
    font-size: 3rem;
    text-align: center;
}

// Folder name 
.folder p {
    margin-top: 5px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

// Footer Folders
.footer-button {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    --background: #DAFFDA;
}