<ion-header>
  <ion-toolbar class="content-background">
    <ion-buttons slot="end">
      <ion-button expand="block" class="logout-button" (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <div class="container-folder">
    <ion-text class="app-title">CARPETAS</ion-text>

    <div *ngIf="carpetas.length === 0" class="no-content-message">
      <ion-text>NO SE ENCONTRARON CARPETAS</ion-text>
    </div>
    <div class="folders-container">
      <div class="folder" *ngFor="let carpeta of carpetas" (click)="openFolder(carpeta.nombreCarpeta)">
        <img src="assets/folder_icon.png" alt="Carpeta" class="folder-icon" />
        <p>{{ carpeta.nombreCarpeta }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer-button">
    <ion-button expand="block" class="design-button" (click)="createFolder()">Crear carpeta</ion-button>
  </div>
</ion-footer>